/* Styling background color of the main content container*/
#main-content {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    color: #496985;
    opacity: .8;
    border: 2px solid #496985;
}

/* Setting  unit of measurement on the picture to make the image responsive */
img {
    max-width: 45%;
    min-width: 7.8rem;
    max-height: 12rem;
}

.main-heading {
    font-size: 2.9vw;
}


