 /* Styling background color of the main content container*/

#main-content {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    color: #496985;
    opacity: .8;
    border: 2px solid #496985;
    min-height: 80vh;
    font-family: "Sunflower", Georgia, 'Times New Roman', Times, serif;
}


/* Setting  unit of measurement on the picture to make the image responsive */
img {
    max-width: 45%;
    min-width: 7.8rem;
    max-height: 12rem;
}

/* Styling Main Heading */
.main-heading {
    font-size: 30px;
    font-family: "Marmelad" Georgia, 'Times New Roman', Times, serif !important;
}

/* Creating a breaking point for sm/xs screens--- width should go from 50% on md up and 75% on sm down  */

@media only screen and (max-width: 768px) {
    .h3 { 
        font-size: 1.25rem !important;
    }
    #main-content {
        margin: auto;
        padding: 1px;
    }
                /* Added 75% screen width upon 768px break point with the !important property to over ride the "50% !important" property applied to the 
                "w-50" Bootstrap class.  */
                
    .w-50 {
        width: 90% !important;
    }
}

/* Adding correct text color to heading link and muted text */
.header-txt {
    color: #496985 !important;
}

/* Removing underline effect anchor tags create by default */
#pat-help {
    text-decoration: none;
    color: crimson;
}


/* Making the menu bar icon 1.5rem larger than their default sizes */
.navbar-toggler-icon{
    font-size: 1.5 rem;
}

.fa-big {
    font-size: 1.5rem;
}

/* Footer Styles */

.fa-X {
    font-size: 2.3rem;
}

footer {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    color: #496985;
    opacity: .8;
    border: 2px solid #496985;

}

footer a{
    color: #496985;
}