#main-content {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    color: #496985;
    opacity: .8;
    border: 2px solid #496985;
    min-height: 80vh;
    font-family: "Sunflower", Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 768px) {
    .h3 { 
        font-size: 1.25rem !important;
    }
    #main-content {
        margin: auto;
        padding: 1px;
    }
                /* Added 75% screen width upon 768px break point with the !important property to over ride the "50% !important" property applied to the 
                "w-50" Bootstrap class.  */
                
    .w-50 {
        width: 90% !important;
    }
}

.header-txt {
    color: #496985 !important;
}

.fa-big {
    color: #496985;
    font-size: 1.5rem;
}


/* Start Footer CSS */


.fa-X {
    font-size: 2.3rem;
}

footer {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    color: #496985;
    opacity: .8;
    border: 2px solid #496985;
    margin-bottom: 0% !important;
}

footer a {
    color: #496985;
}