#main-content {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    color: #496985;
    opacity: .8;
    border: 2px solid #496985;
}

@media only screen and (max-width: 768px) {
    #main-content {
        margin: auto;
        padding: 5px;
    }

    .w-50 {
        width: 90% !important;
    }

}

.header-txt {
    color: #496985 !important;
}

.fa-big {
    font-size: 1.5rem;
    color: #496985;
}


/* Start Footer CSS */

.fa-X {
    font-size: 2.3rem;
}

footer {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    color: #496985;
    opacity: .8;
    border: 2px solid #496985;

}

footer a{
    color: #496985;
}
