/* Basic CSS stylesheet for the heading on all three pages */

.bg {
    background-image: url("../Images/red-brickwall.jpg"); 
}

/* Includes Nav anchor styles */
nav ul a {
    color: #496985;
    font-weight: 500 !important;
    font-size: 1.3rem;
    font-family: "Sunflower", Georgia, 'Times New Roman', Times, serif;
    
}

 nav {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    opacity: .8;
    border: 2px solid #496985;
}

/* Heading in nav font-family */

.header-txt {
    font-family: "Marmelad", Georgia, 'Times New Roman', Times, serif;
}

/* Adding style to horizontal rule */
.line-break {
    border: 2px solid #496985;
    width: 75%;
    text-align: left;
    margin-left: 23px;

}
