.bg {
    background-image: url("../Images/red-brickwall.jpg");
}

#bio-name {
    font-size: 2rem;
    color: #496985;
    background-color: white;
    padding-right: 5px;
    width: 100%;
}

nav ul a {
    color: #496985;
    font-weight: 500 !important;
    font-size: 1.2rem;
}

nav {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    margin-bottom: 5rem !important;
    opacity: .9;
}

