.bg {
    background-image: url("../Images/red-brickwall.jpg");
}
/*
#bio-name {
    font-size: 3.5vw;
    color: #496985;
}

#bio-image { 
    color: #496985;
    padding-right: 5px;
}
*/
nav ul a {
    color: #496985;
    font-weight: 500 !important;
    font-size: 1rem;
}

 nav {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    /* margin-bottom: 5rem !important; */
    opacity: .8;
    border: 2px solid #496985;
}

/* .index {
    z-index: 2;
} 
 */