#main-content {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    color: #496985;
    opacity: .8;
    border: 2px solid #496985;
    min-height: 80vh;
    font-family: "Sunflower", Georgia, 'Times New Roman', Times, serif;
}

main img {
    max-width: 300px !important;
    max-height: 300px !important;
}

/* Adding correct text color to heading link and muted text */
.header-txt {
    color: #496985 !important;
}


/* Start Footer CSS */

.fa-X {
    font-size: 2.3rem;
}

footer {
    background: linear-gradient(
        to right,        
        #f7f2df,
        #d1cec5,
        #bab093,
        #b38246
    );
    color: #496985;
    opacity: .8;
    border: 2px solid #496985;

}

footer a{
    color: #496985;
}

@media screen and (max-width: 768px) {
    .h3 { 
        font-size: 1.25rem !important;
    }

    main img {
        max-width: 250px !important;
        max-height: 250px !important;
    }
}




